---
const menu =
  "absolute z-20 bottom-10 right-0 left-0 inline-flex space-x-20 justify-center font-bold uppercase tracking-white text-gray-600";
---

<div class={menu}>
  <a href="/" class="hover:text-pink-600">Inicio</a>
  <a href="/Works/" class="hover:text-pink-600">Works</a>
  <a href="/Services/" class="hover:text-pink-600">Services</a>
  <a href="/Contact" class="hover:text-pink-600">Contact</a>
</div>
